body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/styles.css/Images/background.png");
}

h1 {
  color: aqua;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.responsive {
  width: 40%;
  height: auto;
}

.col-md-12 {
  padding-top: 20px;
}

.container {
  background-color: white;
  float: left;
  width: 50%;
  margin-left: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 25px;
}
